.game-wrapper {
	@include page-styles;
	height: 100vh;
	justify-content: center;

	.game-display-wrapper {
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 50px;
		margin-bottom: 15px;
		border: 2px solid black;
		border-radius: 10px;
		padding: 15px;

		.grid-wrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);

			img {
				width: 99%;
				height: 99%;
			}

			.square {
				width: 100px;
				height: 100px;
				border: 1px solid black;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: white;
			}
		}

		.display-wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			.tokens-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				.token {
					width: 50px;
					height: 50px;
					border: 1px solid black;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 5px;

					img {
						width: 99%;
						height: 99%;
					}
				}

				.active {
					border: 2px solid black;
				}
			}

			img {
				height: 45px;
				margin: 5px;
			}

			.spacer {
				height: 45px;
				margin: 5px;
			}
		}
	}

	button {
		@include button-styles;
	}
}
